code {
  border-style: dashed;
  border-width: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
pre code {
  display: block;
  border-style: dashed;
  border-color: grey;
  border-width: medium;
  overflow-x: auto;
  margin: 1em;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.chunkref a {
  color: darkred;
  text-decoration: none;
  padding-left: 0.1em;
  padding-right: 0.1em;
}
div.blockchunk {
  margin-top: 1em;
  margin-bottom: 1em;
}
.blockchunk-head {
  font-weight: bold;
}
.blockchunk-head a {
  text-decoration: none;
  padding-left: 0.1em;
  padding-right: 0.1em;
  color: darkred;
}
.chunk-head {
  font-weight: bold;
  padding-left: 0.1em;
  padding-right: 0.1em;
}
